/*
 * Before you ask: Yes, I have a fetish for rounded corners and it's a serious problem
 * Credit for keeping footer down: Joss (http: //www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/) */
html, body {
	background: #F1F1F1;
	color: #2F2F2F;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 99%;
	position: relative;
}
#header {
	padding: 10px;
}

h1, p {
	text-align: center;
	margin: 0.1em;
}

#content {
	padding-bottom: 3em;
	margin: 0em auto;
	overflow: auto;
	display: block;
	text-align: center;
}

#footer {
	width: 100%;
	height: 1.5em;
	position: absolute;
	bottom: 0;
	left: 0;
}

#footer p {
	margin: 0px;
}

#display {
	min-height: 500px;
}

/* Display Styling */

#gif-wrapper, #sound-wrapper {
	display: inline-block;
	vertical-align: top;
}

/* Gif Styling */

#gif-wrapper {
	width: 400px;
	height: 400px;
}

#gif-wrapper img {
	width: 100%;
	height: 100%;
	min-height: 250px;
	max-height: 600px;
	max-width: 1000px;
}

form#gifsound-input {
	background-color: #6D6D6D;
	padding: 20px;
	font-size: 14px;
}

input {
	border-radius: 2px;
	border: 1px solid #DDD;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
	background-color: #FFF;
	color: #32373C;
	outline: 0px none;
	transition: border-color 50ms ease-in-out 0s;
	margin: 1px;
	padding: 3px 5px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

input[type=url] {
	max-width: 400px;
	width: 40%;
}

input#make-gifsound {
	line-height: 28px;
	padding: 0px 12px 2px;
	color: #F9F9F9;
	border-radius: 2px;
	vertical-align: top;
	margin: 1px;
	height: 28px;
	display: inline-block;
	background-color: #1E8CBE;
	overflow: hidden;
	outline: 0px none;
}

input#sound-start-time {
	width: 30px;
}